.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #08a108, transparent);
  color: #000;
}

.title {
  margin: 0;
  padding: 12px 0;
  font-weight: 700;
}
