:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .currency-rates-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .currency-rates-table {
    width: 400px;
    height: 420px;
    overflow: auto;
    border-radius: 8px;

    table {
      background: linear-gradient(45deg, #08a108, transparent);
    }
  }

  .currency-rates-field:nth-child(1) {
    margin: 16px 0;
  }

  .currency-rates-wrapper {
    display: flex;
    gap: 16px;
    margin-top: 16px;

    mat-select {
      margin-right: 5px;
    }
  }

  @media (max-width: 520px) {
    .currency-rates-table {
      width: 330px;
    }

    .currency-rates-wrapper {
      flex-direction: column;
    }
  }
}
